{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/volunteerForm.js' %}"></script>
    <script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
            0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
    mixpanel.init("06d12d7599af1194114e8af1a34165fe");</script>
    <title>NoBlack</title>
    <style>
        .navbar{
            background-color: #FE5E00;
            color: white;
        }
        .navbar-collapse .navbar-nav li a {
            color: white;
        }
        .navbar-header .navbar-brand{
            color:white;
        }
        .footer{
            background-color: #008300;
            color: white;
            padding: 10px;
        }
        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        /* Add some padding inside the card container */
        .container {
            padding: 2px 16px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" >
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img alt="Brand" src="{% static '/img/noblack.png' %}" style="width:auto; height: 100%;">
        </a>
        <a class="navbar-brand" href="#">No Black</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/" >Search Volunteers</a></li>
            <li><a href="/fill">Become a Volunteer</a></li>
        </ul>
    </div><!--/.nav-collapse -->
</nav>
<section style="padding-top: 60px;">
    <div class="container">
        <p>
            Dear Citizen of India,
            First time I see any leader steps ahead for change in true spirit. The true strength of a country is best demonstrated by the willingness of its own citizens to accept the change. It is high time to support the movement of Honorable PM Modiji for demonetization of 500/1000 notes. To keep moral high of the general public, is the most critical thing as of now.
            Please volunteer for above contribution at www.noblack.in. You can search the other people working in the same area and can jointly do better.
        </p>
        <div>
            We can contribute in the following ways:-
            <ul>
                <li>To help people who are in need of money for health issues.</li>
                <li>To help people who are in need of money for marriage or any other function.</li>
                <li>To provide water to people in queue.</li>
                <li>Assisting them in filling up forms and guiding them how to deposit/withdraw/exchange.</li>
                <li>To guide provisions of income tax and impact on deposit.</li>
                <li>Free health checkup by doctors few days till situation gets normal.</li>
                <li>To boost the moral of the people who are queue though slogans or picture or national Flag.</li>
            </ul>
            <p>
                Please remember your one step can change the entire world.
                "ASHA SE AAKASH THAMA HAI"
                Lets blow the wind of hope! Jai Hind!
            </p>
        </div>
    </div>
</section>
<div class="container" style="padding-top: 60px;padding-bottom: 100px;">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12">
            {% if messages %}
                <div class="form-group">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            <strong></strong>{{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="container">
                    <form class="form-inline" method="POST" action="#">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label" for="state">State</label>
                            <div class="">
                                <select type="text" id="state" name="state" class="form-control">
                                    <option value="" disabled selected>Select State</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="city">City</label>
                            <div class="">
                                <select type="text" id="city" name="city" class="form-control">
                                    <option value="" disabled selected>Select City</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label"></label>
                            <div class="">
                                <button type="submit"  class="btn btn-primary" >Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="container">
                    {% for v in volunteers %}
                        <div class="card">
                            <div class="container">
                                <h4><b>{{ v.first_name }} {{ v.last_name }}</b></h4>
                                <p>{{ v.category.name }}<br>
                                    <a href="tel:+91{{ v.mobile }}">{{ v.mobile }}</a>
                                    <br>
                                <p><font face="verdana" color="green"><strong>Area - {{ v.landmark }}</strong></font></p>
                                {{ v.city.city_name }} - {{ v.city.state.state_name }}
                                </p>
                                <p><strong>Volunteering For - </strong>{{ v.volunteering_for }}</p>
                                <p><strong>Dates - </strong>{{ v.from_date }} - {{ v.to_date }} <br>
                                    <strong>Timings - </strong>{{ v.avaiable_from }} - {{ v.avaiable_till }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="container">
                    <a href="/fill"><button class="btn btn-success">Become a Volunteer</button></a>

                </div>
            </div>
        </div>

    </div>
</div>
<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <div class="pull-right">
            <p class="pull-right">Powered by <a href="http://applop.com/" style="color: white">Applop</a></p><br>
            <p class="pull-right">For details contact <a href="mailto:noblackindia@gmail.com" style="color: white">noblackindia@gmail.com</a></p>
        </div>

        <p>Concept by <strong>Mr. Ashok Agrawal</strong></p>
    </div>
</footer>
</body>
</html>